@tailwind base;
@tailwind components;
@tailwind utilities;


.swiper-button-next, .swiper-button-prev {
    color: white;
    font-weight: 300;
    font-size: smaller !important;
  }
  
  .swiper-pagination-bullet {
    background-color: white;
  }


.inlines{
    vertical-align: middle;
}

.dropdown-text{
    @apply w-full hover:bg-slate-600  px-3 py-2
}

.icons{
    @apply inline mx-2 text-2xl font-bold
}




.langDropdown-text{
   @apply w-full border-[#6d6d6d] hover:bg-slate-600 pl-5 px-3 py-2 font-normal
}